* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif;
}

html {
  font-size: 62.5%;
}

.titulo { text-align: center;
  padding-left: 20px;
  padding-bottom: 30px;

}


/*cor da pagina*/
main {
  
  background: linear-gradient(to top , #000000 20%, #630463af);
  margin-left: 250px;
  margin-bottom: 60px;
  color: #ffffff;
  overflow: hidden;
}

h5{
  color:#51ad1c;
  font-size: .85rem;
  padding: 5rem;
  
  
}

h1{
  color: #ffffff;
  font-size: 3rem;
  padding: 1rem;
}


